@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}

body {
    font-family: 'Open Sans';
}

ul.nav {
    float: right;
    margin-top: .1%;
    margin-right: 1%;
    position: fixed;
    right: 0;
    top: 150px;
}

* {
    margin: 0;
    padding: 0;
}

#home {
    background-image: url("background.jpg");
    background-position: center;
}

#header {

    text-align: center;
    -webkit-box-shadow: 0px 3px 2px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    0px 3px 2px 0px rgba(50, 50, 50, 0.5);
    box-shadow:         0px 3px 2px 0px rgba(50, 50, 50, 0.5);
    background-color: #FFFFFF;
}

#header img {

}

.scroll-link {
    content : "";
    /*background-image: url(leaf-icon.png);*/
    /*background-position: center;*/
    /*background-size: 100% 100%;*/
    width: 100px;
    height: 50px;
    z-index: -1;
    display: block;
    margin-top: 1%;
}

.scroll-link:after{


}

ul li a:hover{
    text-decoration:none;
    color:#fff;
}

div.scroll-page {
    width: 100%;
    margin: 0;
    float: left;
    height: 4000px;
}

li {
    margin-top: 5%;
    margin-right: 5%;
    list-style-type: none;
    font-size: 20px;
    text-align: right;
}

#general-dermatology {
  background-color: #3cd53c;
}

#about {
  background-color: #168017;
}

#cosmetic-dermatology {
    background-color: #32803a;
}

#resources {
    background-color: #2b923a;
}

#contact {
    background-color: #0c8045;
}

#news {
   background-color: #78c124;
}

h1 {
    font-size: 50px;
    margin-top: 2%;
    font-weight: bolder;
    text-align: center;
}

img {
    margin-top: 8%;
    margin-left: 32%;
}

p {
    font-size: 24px;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 1.5%;
}